:root {
  --page-padding: 60px;
}

.purple {
  --primary-color: #491df6;
  --background-color: #f3defa;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "AUTHENTIC Sans", Arial, Helvetica, sans-serif;
  font-size: 100%;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  background-color: var(--background-color);
  min-height: 100vh;
}

body {
  padding: 5vw;
  margin: 0;
  font-display: optional;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  max-width: 1170px;
  margin: auto;
  border: 1px solid var(--primary-color);
  padding: 0 25px;
  border-radius: 3px;
  width: 100%;
}

.burst {
  width: calc(161px / 2);
  height: calc(161px / 2);
  position: relative;
  transition: height 0.2s, width 0.2s;
}

.page > header {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--primary-color);
  padding: 35px 0;
  margin-bottom: 40px;
}

.who-am-i > div:first-child {
  font-weight: 500;
  font-size: 26px;
}

.who-am-i > div:last-child {
  font-weight: 300;
  font-size: 26px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 460px));
  justify-content: space-between;
  padding-bottom: 25px;
  gap: 70px;
}

section > header > div:first-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 4px;
}

section > header > div:last-child {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

section > p {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  justify-content: center;
}

.blob {
  padding-bottom: 75px;
  opacity: 0.8;
}

@media only screen and (max-width: 610px) {
  body {
    align-items: flex-start;
  }

  .burst {
    width: calc(161px / 2.5);
    height: calc(161px / 2.5);
    position: relative;
  }

  .page > header {
    padding: 20px 0;
  }

  .who-am-i > div:first-child {
    font-weight: 500;
    font-size: 22px;
  }

  .who-am-i > div:last-child {
    font-weight: 300;
    font-size: 22px;
  }

  .container {
    gap: 30px;
  }
}
